# IDE & Editor files
.idea/
.vscode/

# Web catalog & profile files
index.html
myprofile.html
apps.json

# Scripts & Workflows
scripts/
.github/
--clobber/

# Build & OS temporary files
*.log
*.tmp
.DS_Store
Thumbs.db
